<form method="post" action="/articles">
Title: <input id="title" type="text" name="title">
Content: <input id="content" type="text" name="content">
<button type="submit" value="submit">Submit</button>
</form>