<form action="/articles" method="post">
    <label for="title">Title</label><br>
    <input id="title" type="text" name="article[title]" /><br>
    <label for="content">Content</label><br>
    <input id="content" type="text" name="article[content]" /><br>
    <input type="submit" value="Submit">
</form>