<p><%=  @article.title  %></p><br>
<p><%=  @article.content  %></p><br>

<form method="post" action="/articles/<%=@article.id%>">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<button type="submit" value="delete">Delete Article</button>
</form>